@using EnrollmentApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Turner University Log in";
}

<div class="row loginbody">
    <div class="col-md-3"></div>
    <div class="col-md-6 rounded border login">
        <section id="loginForm" class="">
            
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {

                @Html.AntiForgeryToken()

                <div class="logo centered">
                    <img src="@Url.Content("~/Content/Images/logo.PNG")" class="" />
                </div>
                <h5 id="authentication" class="text-center">Login Authentication</h5>
                <div class="formwidth formcenter groups">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group groups fgroup">
                        <div class="col-md-12 formbox">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Email"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group groups fgroup">
                        <div class="col-md-12 formbox">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group groups">
                        <div class="col-md-7 formbox">
                            <div class="checkbox formbox">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "" })
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group groups">
                        <div class="col-md-7 formbox">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p class="registerlink">
                        @Html.ActionLink("Register as a new user", "Register", new { @class = "" })
                    </p>
                    <br />
                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
                </div>
             }  
        </section>
    </div>
    <div class="col-md-3"></div>

    <!--
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
