@model EnrollmentApp.Models.Student
@{
    ViewBag.Title = "Student";
}
<div id="div-container">
    <div id="studentinfo">
        <h5 id="major">Major: Bachelors-@Html.DisplayFor(model => model.Major)</h5>
        <div id="logopic">
            <img src="@Url.Content("~/Content/Images/logo5.png")">
        </div>
        <h5 id="gpa">GPA: @Html.DisplayFor(model => model.GPA) &nbsp; &nbsp; CGPA: @Html.DisplayFor(model => model.GPA)</h5>
        <div class="clearfix"></div>
        <hr />
        <div id="personalinfo">
            <table class="">
                <tr>
                    <th>Student ID <span class="colon">&nbsp;:</span> </th>
                    <td> @Html.DisplayFor(model => model.StudentID)</td>
                </tr>
                <tr>
                    <th>Year <span class="colon">:</span></th>
                    <td>@Html.DisplayFor(model => model.Year)</td>
                </tr>
                <tr>
                    <th>Email <span class="colon">:</span> </th>
                    <td> @Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>Phone <span class="colon">:</span> </th>
                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                </tr>
                <tr>
                    <th>Address <span class="colon">:</span> </th>
                    <td> @Html.DisplayFor(model => model.Street)</td>
                </tr>
                <tr>
                    <th> </th>
                    <td> @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.Zip)</td>
                </tr>
            </table>
        </div>
        <div id="expectedgrad">
            @Html.Partial("_ProgressPartial")
        </div>
    </div>

    <div id="classschedule">
        <h5>Class Schedule</h5>
        <p>No schedule available</p>
    </div>
</div>

